<div class="row mb-3">
    <div class="col">
        <div class="col-md">
            <div class="card bg-success-subtle mb-3" >
                <div class="card-header text-center">Toplam Sipariş</div>
                <div class="card-body">
                    <h5 class="card-title text-center">47</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card bg-primary-subtle mb-3" >
                <div class="card-header text-center">Teslim alınan</div>
                <div class="card-body">
                    <h5 class="card-title text-center">47</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card bg-warning-subtle mb-3" >
                <div class="card-header text-center">İşlem Gören</div>
                <div class="card-body">
                    <h5 class="card-title text-center">47</h5>
                </div>
            </div>
        </div>
    </div>
</div>