<div class="row mb-3">
  <div class="col">
    <div class="col-md">
      <div class="card bg-success-subtle mb-3">
        <div class="card-header text-center">Toplam Sipariş</div>
        <div class="card-body">
          <h5 class="card-title text-center">{{ total_orders }}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="col-md">
      <div class="card bg-primary-subtle mb-3">
        <div class="card-header text-center">Teslim edilen</div>
        <div class="card-body">
          <h5 class="card-title text-center">{{ delivered }}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="col-md">
      <div class="card bg-warning-subtle mb-3">
        <div class="card-header text-center">Taşımada</div>
        <div class="card-body">
          <h5 class="card-title text-center">{{ transporting }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
