{% extends 'base.html' %}

{% block title %}
  Sipariş Atama
{% endblock %}

{% block content %}
  <div class="row mt-5">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header bg-primary-subtle ">
          <label for="services">Siparişi Yönlendir</label>
        </div>
        <div class="card-body">
          <select name="services" id="select-service" class="form-control">
            <!-- TODO: for ile servisleri dön -->
            <option value="1">Service1</option>
            <option value="2">Service2</option>
          </select>
        </div>
        <div class="card-footer">
          <a role="button" class="btn btn-outline-primary w-100">Siparişi Yönlendir</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      $('select-service').change(function () {
        var selected_id = $(this).children('option:selected').val()
        $('a').attr("href", selected_id)
      })
    })
  </script>
{% endblock %}
