{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="card">
          <div class="card-header">
            <a href="{% url 'store:shopping-cart' %}" class="btn btn-outline-success">&#x2190; Sepete Geri Dön</a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover align-middle">
                <thead>
                  <tr>
                    <th scope="col">Sipariş Özeti</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <img src="{% static 'icons/item-image.svg' %}" />
                    </td>
                    <td>Yağsız İnek sütü</td>
                    <td>12.5 ₺</td>
                    <td>5</td>
                    <td>62.50 ₺</td>
                  </tr>
                  <tr>
                    <td>
                      <img src="{% static 'icons/item-image.svg' %}" />
                    </td>
                    <td>Yağsız İnek sütü</td>
                    <td>12.5 ₺</td>
                    <td>5</td>
                    <td>62.50 ₺</td>
                  </tr>
                  <tr>
                    <td>
                      <img src="{% static 'icons/item-image.svg' %}" />
                    </td>
                    <td>Yağsız İnek sütü</td>
                    <td>12.5 ₺</td>
                    <td>5</td>
                    <td>62.50 ₺</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
