{% extends 'base.html' %}
{% load static %}
{% block title %}
  Sipariş Detayı
{% endblock %}

{% block content %}
  <!-- Sipariş atandı bildirimi alanı -->
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Tebrikler!</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3>Sipariş Bilgileri</h3>
        <hr />
        <div class="card mb-2 bg-success-subtle">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-success table-hover caption-top table-sm">
                <caption>Müşteri Bilgileri</caption>
                <thead>
                  <tr>
                    <th scope="col">Adı</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Sipariş Tarihi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Vedat Görgülü</td>
                    <td>532 478 45 22</td>
                    <td>5 Aralık 2023</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="card mb-2 bg-primary-subtle">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-primary table-hover caption-top table-sm">
                <caption>Ürün Bilgileri</caption>
                <thead>
                  <tr>
                    <th scope="col">Ürün Adı</th>
                    <th scope="col">Miktarı</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Yağlı İnek Sütü</td>
                    <td>150 Litre</td>
                  </tr>
                  <tr>
                    <td>Az yağlı İnek Sütü</td>
                    <td>50 Litre</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="card bg-warning-subtle">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-warning table-hover caption-top table-sm">
                <caption>Servis Bilgileri</caption>
                <tbody>
                  <tr>
                    <th scope="row">Servis Adı</th>
                    <td>Vedat Görgülü</td>
                  </tr>
                  <tr>
                    <th scope="row">Servis Telefon</th>
                    <td>546 578 15 78</td>
                  </tr>
                  <tr>
                    <th scope="row">Sipariş Durumu</th>
                    <td>Sipariş Alındı</td>
                  </tr>
                  <tr>
                    <th scope="row">Sipariş Notu</th>
                    <td>Acele gelmelisiniz</td>
                  </tr>
                  <tr>
                    <th scope="row">Servise Atanma Tarihi</th>
                    <td>12 05 2023 14:07</td>
                  </tr>
                  <tr>
                    <th scope="row">Servise Başlama Tarihi</th>
                    <td>12 05 2023 15:07</td>
                  </tr>
                  <tr>
                    <th scope="row">Teslim Tarihi</th>
                    <td>12 05 2023 17:07</td>
                  </tr>
                  <tr>
                    <th scope="row">Tutar</th>
                    <td>1097.00 ₺</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <h3>Sipariş Konumu</h3>
        <hr />
        <div class="vh-100 bg-secondary-subtle rounded-2"></div>
      </div>
    </div>
  </div>
{% endblock %}
