{% extends 'base.html' %}
{% load static %}
{% block title %}
  Sipariş Detayı | {{ request.user }}
{% endblock %}

{% block content %}
  <!-- Sipariş atandı bildirimi alanı -->
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Tebrikler!</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3>Sipariş Bilgileri</h3>
        <hr />
        <div class="card mb-2 bg-success-subtle">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-success table-hover caption-top table-sm">
                <caption>Müşteri Bilgileri</caption>
                <thead>
                  <tr>
                    <th scope="col">Adı</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Sipariş Tarihi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ order.customer.name }}</td>
                    <td>{{ order.customer.phone }}</td>
                    <td>{{ order.date_ordered }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="card mb-2 bg-primary-subtle">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-primary table-hover caption-top table-sm">
                <caption>Ürün Bilgileri</caption>
                <thead>
                  <tr>
                    <th scope="col">Ürün Adı</th>
                    <th scope="col">Miktarı</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in items %}
                    <tr>
                      <td>{{ item.product.name }}</td>
                      <td>{{ item.quantity }} litre</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="card bg-warning-subtle">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-warning table-hover caption-top table-sm">
                <caption>Servis Bilgileri</caption>
                <tbody>
                  <tr>
                    <th scope="row">Servis Adı</th>
                    <td>{{ order.service.user }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Servis Telefon</th>
                    <td>{{ order.service.user.customer.phone }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Sipariş Durumu</th>
                    <td>{{ order.status }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Sipariş Notu</th>
                    <td>{{ order.note }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Servise Atanma Tarihi</th>
                    <td>{{ order.assign_date }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Servise Başlama Tarihi</th>
                    <td>{{ order.service_date }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Teslim Tarihi</th>
                    <td>{{ order.delivery_date }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Tutar</th>
                    <td>{{ order.get_cart_total }} ₺</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <h3>Sipariş Konumu</h3>
        <hr />
        <div id="order_map" class="vh-100 rounded-2"></div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
          {% if perms.store.is_operator %}
            {% if not order.service %}
              <a class="btn btn-warning me-md-2" href="{{ order.get_assign_url }}">Servise ata</a>
            {% elif not order.service_date %}
              <div class="alert alert-warning mt-2" role="alert">Servis siparişi teslim almak için yola çıkmıştır.</div>
            {% elif not order.delivery_date %}
              <div class="alert alert-warning mt-2" role="alert">Servis siparişi toplama merkezine getirmektedir.</div>
            {% else %}
              <div class="alert alert-success mt-2" role="alert">Bu sipariş toplama merkezine teslim edilmiştir.</div>
            {% endif %}
          {% elif perms.store.is_service %}
            {% if not order.service_date %}
              <a class="btn btn-info me-md-2" href="{{ order.get_service_url }}">Teslim al</a>
            {% elif not order.delivery_date %}
              <a class="btn btn-success me-md-2" href="{{ order.get_delivery_url }}">Teslim et</a>
            {% else %}
              <div class="alert alert-success mt-2" role="alert">Bu sipariş toplama merkezine teslim edilmiştir.</div>
            {% endif %}
          {% else %}
            {% if not order.service %}
              <a class="btn btn-danger me-md-2" href="{{ order.get_delete_url }}">Sil</a>
            {% elif not order.service_date %}
              <div class="alert alert-warning mt-2" role="alert">Saha ekiplerimiz siparişi teslim almak için yoldadır.</div>
            {% elif not order.delivery_date %}
              <div class="alert alert-warning mt-2" role="alert">Siparişiniz teslim aşamasındadır.</div>
            {% else %}
              <div class="alert alert-warning mt-2" role="alert">Bu sipariş toplama merkezine teslim edilmiştir.</div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% include 'partials/_orderdetail-mapbox.html' %}
{% endblock %}
