{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <a href="{% url 'store:store' %}" class="btn btn-outline-success">&#x2190; Alışverişe Devam Et</a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover align-middle">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Ürün</th>
                    <th scope="col">Fiyat</th>
                    <th scope="col">Litre</th>
                    <th scope="col">Toplam</th>
                  </tr>
                </thead>
                {% for item in items %}
                  <tbody>
                    <tr>
                      <td>
                        <img src="{{ item.product.imageUrl }}" style="width: 50px;" />
                      </td>
                      <td>{{ item.product.name }}</td>
                      <td>{{ item.product.price }}</td>
                      <td>
                        {{ item.quantity }}
                        <img class="update-cart" data-product="{{ item.product.id }}" data-action="add" src="{% static 'icons/caret-up-square-fill.svg' %}" />
                        <img class="update-cart" data-product="{{ item.product.id }}" data-action="remove" src="{% static 'icons/caret-down-square-fill.svg' %}" />
                      </td>
                      <td>{{ item.get_total }}</td>
                    </tr>
                  </tbody>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-header d-flex justify-content-between">
            <h5 class="card-title">Miktar: <strong>{{ order.get_cart_items }} litre</strong></h5>
            <h5 class="card-title"><strong>{{ order.get_cart_total|floatformat:2 }} ₺</strong></h5>
            <a href="{% url 'store:checkout' %}" class="btn btn-success">Sipariş Ver</a>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
{% endblock %}
