{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="row row-cols-2 row-cols-md-3 g-4">
        {% for product in products %}
          <div class="col">
            <div class="card border-success-subtle text-center h-100">
              <div class="card-header">
                <img src="{{ product.imageUrl }}" class="card-img-top" />
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-outline-primary w-100 mb-1">{{ product.price }} ₺</button>
                <button type="button" data-product="{{ product.id }}" data-action="add" class="update-cart btn btn-outline-success w-100">Sepete Ekle</button>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
{% endblock %}
