{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card text-center h-100">
            <img src="https://picsum.photos/200" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Tam yağlı süt</h5>
              <p class="card-text">Yüzde %12 yağlı süt</p>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-success w-100">Sepete Ekle</button>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card text-center h-100">
              <img src="https://picsum.photos/200" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Tam yağlı süt</h5>
                <p class="card-text">Yüzde %12 yağlı süt</p>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-success w-100">Sepete Ekle</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-center h-100">
              <img src="https://picsum.photos/200" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Tam yağlı süt</h5>
                <p class="card-text">Yüzde %12 yağlı süt</p>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-success w-100">Sepete Ekle</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-center h-100">
              <img src="https://picsum.photos/200" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Tam yağlı süt</h5>
                <p class="card-text">Yüzde %12 yağlı süt</p>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-success w-100">Sepete Ekle</button>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
{% endblock %}
