{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="row row-cols-2 row-cols-md-3 g-4">
        <div class="col">
          <div class="card border-success text-center h-100">
            <div class="card-header"><img src="{% static 'icons/item-image.svg' %}" class="card-img-top" alt="..." /></div>
            <div class="card-body">
              <h5 class="card-title">Tam yağlı süt</h5>
              <p class="card-text">Yüzde %12 yağlı süt</p>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-outline-success w-100">Sepete Ekle</button>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card border-success text-center h-100">
              <div class="card-header"><img src="{% static 'icons/item-image.svg' %}" class="card-img-top" alt="..." /></div>
              <div class="card-body">
                <h5 class="card-title">Tam yağlı süt</h5>
                <p class="card-text">Yüzde %12 yağlı süt</p>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-outline-success w-100">Sepete Ekle</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-success text-center h-100">
              <div class="card-header"><img src="{% static 'icons/item-image.svg' %}" class="card-img-top" alt="..." /></div>
              <div class="card-body">
                <h5 class="card-title">Tam yağlı süt</h5>
                <p class="card-text">Yüzde %12 yağlı süt</p>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-outline-success w-100">Sepete Ekle</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-success text-center h-100">
              <div class="card-header"><img src="{% static 'icons/item-image.svg' %}" class="card-img-top" alt="..." /></div>
              <div class="card-body">
                <h5 class="card-title">Tam yağlı süt</h5>
                <p class="card-text">Yüzde %12 yağlı süt</p>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-outline-success w-100">Sepete Ekle</button>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
{% endblock %}
