{% extends 'base.html' %}
{% block title %}
  Mainboard Ekranı
{% endblock %}Mainboard Ekranı{% block content %}
  {% include 'mainboard/partials/_status.html' %}

  <div class="row">
    <div class="col-md-5">
      <h5>MÜŞTERİLER</h5>
      <hr />
      <div class="table-responsive">
        <table id="customerDataTable" class="table table-striped table-bordered" id="customer_datatable">
          <thead>
            <th>Görüntüle</th>
            <th>Müşteri</th>
            <th>Telefon</th>
            <th>E-Posta</th>
          </thead>
          <tbody>
            {% for customer in customers %}
              <tr>
                <td>
                  <a class="btn btn btn-outline-success btn-sm" href="{% url 'mainboard:customer' customer.id %}">Görüntüle</a>
                </td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.email }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-7">
      <h5>SİPARİŞLER</h5>
      <hr />
      <div class="table-responsive">
        <table id="orderDataTable" class="table table-striped table-bordered">
          <thead>
            <th>Müşteri</th>
            <th>Servis</th>
            <th>Tarih</th>
            <th>Durum</th>
            <th>Tutar</th>
            <th>Görüntüle</th>
            <th>Sil</th>
          </thead>
          <tbody>
            {% for order in orders %}
              {% if order.transaction_id %}
                <tr>
                  <td>{{ order.customer.name }}</td>
                  <td>{{ order.service.user }}</td>
                  <td>{{ order.date_ordered }}</td>
                  <td>{{ order.status }}</td>
                  <td>{{ order.get_cart_total }} ₺</td>
                  <td>
                    <a class="btn btn btn-outline-success btn-sm" href="{{ order.get_absolute_url }}">Görüntüle</a>
                  </td>
                  <td>
                    <a class="btn btn btn-outline-danger btn-sm" href="{{ order.get_delete_url }}">Sil</a>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
