{% extends 'base.html' %}
{% block title %}
  Servis Elemanı Ekranı
{% endblock %}
{% block content %}
  {% include 'mainboard/partials/_status.html' %}
  <hr />
  <div class="row">
    <div class="col-md">
      <div class="table-responsive">
        <table class="table table-striped table-bordered" id="user-datatables">
          <thead class="table">
            <th>Müşteri</th>
            <th>Telefon</th>
            <th>Sipariş Tarihi</th>
            <th>Atama Tarihi</th>
            <th>Servis Tarihi</th>
            <th>Tamamlanma Tarihi</th>
            <th>Durum</th>
            <th>Not</th>
            <th>Tutar</th>
            <th>Görüntüle</th>
          </thead>
          <tbody>
            <tr>
              <td>Fatih</td>
              <td>532 123 11 45</td>
              <td>15 Ekim 2023</td>
              <td>15 Ekim 2023</td>
              <td>15 Ekim 2023</td>
              <td>15 Ekim 2023</td>
              <td>Tamamlandi</td>
              <td>Yağlı süt</td>
              <td>560.00</td>
              <td>Görüntüle</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
