{% extends 'base.html' %}
{% load static %}

{% block css_files %}
  {% comment %} <link rel="stylesheet" href="{% static 'css/login.css' %}" /> {% endcomment %}
{% endblock %}

{% block title %}
  Kullanıcı Giriş
{% endblock %}

{% block content %}
  <div class="row mt-5">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <form method="POST">
        {% csrf_token %}
        <div class="card text-center">
          <div class="card-header">KULLANICI GİRİŞİ</div>
          <div class="card-body">
            <div class="form-floating mb-1">
              <input name="username" type="text" class="form-control" id="floatingEmail" placeholder="name@example.com" />
              <label for="floatingEmail">Kullanıcı adı</label>
            </div>
            <div class="form-floating mb-3">
              <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Şifre" />
              <label for="floatingPassword">Şifre</label>
            </div>
            {% for message in messages %}
              <div class="d-flex flex-column align-items-center">
                <div class="alert alert-warning alert-dismissible fade show w-100" role="alert">
                  <strong>Hay aksi!</strong> {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>
            {% endfor %}
            <div class="form-floating">
              <button class="btn btn-primary w-100" type="submit">Giriş</button>
            </div>
          </div>
          <div class="card-footer">
            <p>
              Hesabın var mı? <a href="{% url 'account:register' %}">Kaydol</a>
            </p>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
{% endblock %}
