{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="row mt-5">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <form method="POST">
        {% csrf_token %}
        <div class="card text-center">
          <div class="card-header">KULLANICI KAYIT</div>
          <div class="card-body">
            <div class="input-group mb-2">
              <span class="input-group-text" id="usernameInput"><img src="{% static 'icons/register/person-circle.svg' %}" /></span>
              {{ form.username }}
            </div>
            <div class="input-group mb-2">
              <span class="input-group-text" id="emailInput"><img src="{% static 'icons/register/envelope-at.svg' %}" /></span>
              {{ form.email }}
            </div>
            <div class="input-group mb-2">
              <span class="input-group-text" id="passwordInput"><img src="{% static 'icons/register/lock.svg' %}" /></span>
              {{ form.password1 }}
            </div>
            <div class="input-group mb-2">
              <span class="input-group-text" id="repasswordInput"><img src="{% static 'icons/register/lock.svg' %}" /></span>
              {{ form.password2 }}
            </div>
            <div class="d-flex flex-column align-items-center">
              <div class="alert alert-warning alert-dismissible fade show w-100" role="alert">
                <strong>Hay aksi!</strong> {{ error }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
            <div class="d-flex flex-column align-items-center">
              <button class="btn btn-success w-100" type="submit">Kayıt</button>
            </div>
          </div>
          <div class="card-footer text-body-secondary">
            <p>
              Hesabın var mı? <a href="{% url 'account:login' %}">Giriş yap</a>
            </p>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
{% endblock %}
