{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="p-3 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Sistem Yöneticileri</h1>
      <p class="col-md-8 fs-4">Uygulama aracılığı ile müşterilerin sisteme girdikleri sipariş bilgileri anlık olarak sistem yöneticileri tarafından görüntülenip ilgili saha ekibine yönlendirilir ve siparişin durumu takip edilir. Ürün bazında raporlara ulaşılabilir, ayrıca firmaya ait toplam harcamalar takip edilebilir.</p>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>Saha Ekipleri</h2>
        <p>Saha ekipleri, kendilerine yönlendirilen siparişlere ait müşteri, telefon, ürün ve konum bilgilerini görüntüler. Sipariş teslim alma ve teslim etme durumunda siparişe ait durum bilgisini güncelleyerek diğer kullanıcıların eş zamanlı bilgi sahibi olmasını sağlar.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Müşteriler</h2>
        <p>Müşteriler, sisteme konum bazlı sipariş bilgilerini girerek ilgili saha ekinin siparişe daha kolay ulaşmasını sağlar. Sistem yöneticisinin, siparişi ilgili ekibe atama ve ilgili ekibin sipariş üzerinde gerçekleştirdiği durum değişimlerini anlık olarak takip eder.</p>
      </div>
    </div>
  </div>
{% endblock %}
